<div class="page-breadcrumbs">
    <ul class="breadcrumb" style="margin-right: 0px;">
        <li>
            <i class="fa fa-home"></i>
        </li>
    </ul>
    <ul class="breadcrumb" >
        <li ng-show="item.url==''" class="active" ng-repeat="item in initValue.variablePath">
            {{item.value}}
        </li>
    </ul>
</div>

<div class="page-header position-relative">
    <div class="header-title">
        <h1>
            {{initValue.title}}
        </h1>
    </div>
    <div class="header-buttons">
        <a class="sidebar-toggler" href="#">
            <i class="fa fa-bars"></i>
        </a>
        <a class="fullscreen" id="fullscreen-toggler" href="#">
            <i class="glyphicon glyphicon-fullscreen"></i>
        </a>
    </div>
</div>


<div class="page-body">
    <div class="row"  ng-controller="ColectionIssuerController">
        <div page-table></div>
    </div>
</div>


<script type="text/javascript">
    fullcreenHandler()
    handleSideMenu()
    initiateWidgetBoxes()
</script>